<div id="eye_cathing" class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-1 mb-5">イベントの開催を手軽に</h1>
    <p class="lead">イベントの募集・申込み・参加者への連絡を行えるWebアプリです。</p>
    <%= link_to "新規登録", new_user_registration_path, method: :get, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-4 mb-5">手軽にイベント開催・参加・交流をすることができます</h2>
      </div>
      <div class="col-sm-4 text-center px-4 mb-4">
        <i class="far fa-hand-pointer display-1 mb-3"></i>
        <h3 class="mb-3">イベントの開催</h3>
        <p>面倒な設定をせずに、イベントの申込みフォームを作成・編集できます。</p>
      </div>
      <div class="col-sm-4 text-center px-4 mb-4">
        <i class="far fa-hand-paper display-1 mb-3"></i>
        <h3 class="mb-3">イベントへの参加</h3>
        <p>好みのイベントを探して、イベントへの申込みを行えます。</p>
      </div>
      <div class="col-sm-4 text-center px-4 mb-4">
        <i class="far fa-envelope display-1 mb-3"></i>
        <h3 class="mb-3">コミュニケーション</h3>
        <p>イベントの参加者同士でメッセージを送ることができます。</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-4 mb-5">主要な使用技術一覧</h2>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <h3>インフラ</h3>
        <p class="h1"><i class="fas fa-check-circle mr-2"></i>ECS (AWS）</p>
        <p class="h1"><i class="fas fa-check-circle mr-2"></i>ECR (AWS）</p>
        <p class="h1"><i class="fas fa-check-circle mr-2"></i>EC2 (AWS）</p>
        <p class="h1"><i class="fas fa-check-circle mr-2"></i>S3 (AWS）</p>
        <p class="h1"><i class="fas fa-check-circle mr-2"></i>RDS (AWS）</p>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <h3>バックエンド</h3>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>PostgreSQL (ver. 12.2)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Ruby (ver. 2.7.1)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Rails (ver. 6.0.3)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Nginx (ver. 1.18)</p>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <h3>フロントエンド</h3>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Webpack (ver. 4.3)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>React (ver. 16.13.1)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Bootstrap (ver. 4.3)</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Sass</p>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <h3>その他</h3>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Github</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Docker</p>
        <p class="h1"><i class="fas fa-check-circle mr-2 text-success"></i>Circle CI</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="display-4 mb-5">主要な機能</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h3 class="h1">イベントの作成</h3>
      </div>
      <div class="col-md-9 mb-4">
        <%= image_tag "create_event.png", class: 'w-100 rounded' %>
      </div>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-md-3">
        <h3 class="h1">イベントへの参加</h3>
      </div>
      <div class="col-md-9 mb-4">
        <%= image_tag "participate_event.png", class: 'w-100 rounded' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h3 class="h1">メッセージの送信</h3>
      </div>
      <div class="col-md-9 mb-4">
        <%= image_tag "message.png", class: 'w-100 rounded' %>
      </div>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-md-3">
        <h3 class="h1">イベント・メッセージの管理</h3>
      </div>
      <div class="col-md-9 mb-4">
        <%= image_tag "mypage.png", class: 'w-100 rounded' %>
      </div>
    </div>
  </div>
</div>
