<% provide(:title, "#{@user.user_name}の参加イベント一覧") %>
<% @guest_events.each do |guest_event| %>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card h-100">
      <% if guest_event.image %>
        <img src="..." class="card-img-top">
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <%= link_to "@#{guest_event.user.user_name}", user_path(guest_event.user) %>
          <small class="text-muted ml-2"><%= guest_event.updated_at.strftime("%Y/%m/%d") %></small>
        </p>
        <h2 class="card-title"><%= guest_event.title %></h2>
        <p class="card-text">
          <small class="text-muted">日時: <%= guest_event.date.strftime("%Y/%m/%d") %></small>
        </p>
        <p class="card-text">
          <small class="text-muted">場所: <%= guest_event.address %></small>
        </p>
      </div>
      <div class="card-footer bg-white border-top-0  text-right">
        <%= link_to '詳細', event_path(guest_event), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<div class="col-12">
  <%= paginate(@guest_events) %>
</div>
