<% provide(:title, "ログイン") %>
<div class="col-md-8 col-lg-6 mx-auto">
  <div class="card border shadow">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, for: "email" %>
          <%= f.email_field :email, class: "form-control", id: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :password, for: "password" %>
          <%= f.password_field :password, class: "form-control", id: "password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
            <%= f.label :remember_me, class: "form-check-label", for: "remember_me" %>
          </div>
        <% end %>
        <div class="actions text-right">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
