<% provide(:title, "新規イベントの作成") %>
<div class="col-md-8 col-lg-6 mx-auto">
  <div class="card border shadow">
    <div class="card-body">
      <%= form_with(model: @event, local: true) do |f| %>
        <div class="form-group">
          <%= f.label "イベントタイトル", for: "title" %>
          <%= f.text_field :title, class: "form-control", id: "title" %>
        </div>
        <div class="form-group">
          <%= f.label 'イベント概要', for: "description" %>
          <%= f.text_area :description, class: "form-control", id: "description", rows: "10" %>
        </div>
        <div class="form-group">
          <%= f.label '日時', for: "date" %>
          <%= f.datetime_select :date, class: "form-control", id: "date" %>
        </div>
        <div class="form-group">
          <%= f.label '開催場所', for: "address" %>
          <%= f.text_field :address, class: "form-control", id: "address" %>
        </div>
        <div class="form-group">
          <%= f.label '画像', for: "image" %>
          <%= f.text_field :image, class: "form-control", id: "image" %>
        </div>
        <div class="actions text-right">
          <%= f.submit "作成", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
