<% provide(:title, @event.title) %>
<div class="col-md-4">
  <div class="nav nav-pills d-flex mb-3 bg-white border shadow rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link col col-md-12 text-center d-md-flex justify-content-start align-items-center active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">
      <i class="fas fa-info mr-2"></i>
      <span class="d-none d-md-inline-block">
        イベント概要
      </span>
    </a>
    <a class="nav-link col col-md-12 text-center d-md-flex justify-content-start align-items-center <%= @disabled %>" id="v-pills-participants-tab" data-toggle="pill" href="#v-pills-participants" role="tab" aria-controls="v-pills-participants" aria-selected="false">
      <i class="far fa-hand-paper mr-2"></i>
      <span class="d-none d-md-inline-block">
        参加者
      </span>
    </a>
    <a class="nav-link col col-md-12 text-center d-md-flex justify-content-start align-items-center <%= @disabled %>" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
      <i class="far fa-envelope mr-2"></i>
      <span class="d-none d-md-inline-block">
        メッセージ
      </span>
    </a>
  </div>
</div>
<div class="col-md-8">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
      <div class="card border shadow">
        <div class="card-header d-block d-md-none">
          イベント概要
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= link_to "@#{@event.host.user_name}", user_path(@event.host) %>
            <small class="text-muted ml-2"><%= @event.updated_at.strftime("%Y/%m/%d") %></small>
          </p>
          <h2 class="card-title"><%= @event.title %></h2>
          <p class="card-text">
            <small class="text-muted">概要: </small>
          </p>
          <p class="card-text"><%= @event.description %></p>
          <p class="card-text">
            <small class="text-muted">日時: </small>
          </p>
          <p class="card-text"><%= @event.date.strftime("%Y/%m/%d %H:%M") %></p>
          <p class="card-text">
            <small class="text-muted">場所: </small>
          </p>
          <p class="card-text"><%= @event.address %></p>
          <div class="actions text-right">
            <% if user_signed_in? %>
              <% if current_user == @event.host %>
                <%= link_to edit_event_path, class: 'btn btn-primary' do %>
                  <i class="fas fa-edit mr-2"></i>編集する
                <% end %>
                <%= link_to event_path(@event), method: :delete, class: 'btn btn-primary' do %>
                  <i class="fas fa-trash mr-2"></i>削除する
                <% end %>
              <% else %>
                <% if @event.guests.exclude?(current_user) %>
                  <%= form_with(model: [@event, @participant], local: true) do |f| %>
                    <%= f.submit "参加する", class: 'btn btn-primary' %>
                  <% end %>
                <% else %>
                  <%= link_to "キャンセルする", event_participant_path(@event), method: :delete, class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            <% else %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                参加する
              </button>
              <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-left">
                      イベントの参加にはログインもしくは会員登録が必要です
                    </div>
                    <div class="modal-footer">
                      <%= link_to "ログイン", new_user_session_path, method: :get, class: 'btn btn-primary' %>
                      <%= link_to "新規登録", new_user_registration_path, method: :get, class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <% if current_user == @event.host || @guests.include?(current_user) %>
        <div class="tab-pane fade" id="v-pills-participants" role="tabpanel" aria-labelledby="v-pills-participants-tab">
          <div class="card border shadow">
            <div class="card-header d-block d-md-none">
              参加者
            </div>
            <div class="list-group list-group-flush">
              <% if @guests.length == 0 %>
                <div class="list-group-item text-center">参加者はいません</div>
              <% elsif %>
                <% @guests.first(12).each do |guest| %>
                  <%= link_to guest.user_name, user_path(guest), method: :get, class: 'list-group-item list-group-item-action' %>
                <% end %>
                <% if @guests.length >= 12 %>
                  <%= link_to "もっと見る", event_participants_path(@event), method: :get, class: 'list-group-item list-group-item-action text-center' %>
                <% end %>
              <% end %>
          </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="card border shadow">
            <div class="card-header d-block d-md-none">
              メッセージ
            </div>
            <ul class="list-group list-group-flush">
            <% if @messages.length == 0 %>
              <div class="list-group-item text-center">メッセージはありません</div>
            <% elsif %>
              <% @messages.each do |message| %>
                <%= link_to "#{user_messages_path(current_user)}#list-item-#{message.id}", class: 'list-group-item list-group-item-action' do %>
                  <p><%= message.subject %></p>
                  <small class="text-muted ml-2"><%= message.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></small>
                <% end %>
              <% end %>
              <% if @messages.length == 12 %>
                <%= link_to "もっと見る", user_messages_path(current_user), method: :get, class: 'list-group-item list-group-item-action text-center' %>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>