<div class="col-12">
  <div class="card">
    <h1 class="card-header">
      <%= @event.title %>
    </h1>
    <div class="card-body">
      <% if user_signed_in? && current_user.id == @event.user_id %>
        <div class="position-absolute" style="right:20px;">
          <%= link_to edit_event_path do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to event_path(@event), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>
      <p class="card-text">
        @<%= @event.user.site_address %><small class="text-muted ml-2"><%= @event.updated_at %></small>
      </p>
      <p class="card-text">
        <small class="text-muted">概要: </small>
      </p>
      <p class="card-text"><%= @event.description %></p>
      <p class="card-text">
        <small class="text-muted">日時: </small>
      </p>
      <p class="card-text"><%= @event.date %></p>
      <p class="card-text">
        <small class="text-muted">場所: </small>
      </p>
      <p class="card-text"><%= @event.address %></p>
      <div class="actions text-right">
        <%= link_to '戻る', events_path, class: 'btn btn-outline-primary' %>
        <% if user_signed_in? && current_user.id != @event.user_id %>
          <%= link_to '参加する', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>